<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
</head>
<body>

    <h1>Lista de eventos</h1>

    {% for event in events %}

        <div>
            {% if event.image %}
    <img
        src="{{ event.image.url }}"
        alt="{{ event.name }}"
        width="300"
    >
    {% endif %} 

            <h2>
    <a href="{% url 'event_detail' event.id %}">
        {{ event.name }}
    </a>
            </h2>

            <p>{{ event.description }}</p>

            <p>
                <strong>Lugar:</strong>
                {{ event.location }}
            </p>

            <p>
                <strong>Fecha:</strong>
                {{ event.date }}
            </p>

            <p>
                <strong>Precio:</strong>
                ${{ event.price }}
            </p>

            <p>
                <strong>Capacidad:</strong>
                {{ event.capacity }}
            </p>
        </div>

        <hr>

    {% endfor %}

</body>
</html>